* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f1f5f9;
  color: #1e293b;
}

nav {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

.logo img {
  width: 54px;
  height: 54px;
  margin-right: 10px;
}

.logo span {
  color: #2563eb;
}
.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #475569;
  font-weight: 600;
  font-size: 0.9rem;
}
.btn-daftar {
  background: #2563eb;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  padding: 150px 0 80px;
}
.form-card {
  background: white;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.form-card h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}
.form-card p {
  text-align: center;
  color: #64748b;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 0.9rem;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}
.form-group input:focus {
  border-color: #2563eb;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}
.btn-submit:hover {
  background: #1d4ed8;
}
