:root {
  --background: #f2f9f9;
  --primary: #5478ff;
  --shades: #5478ff;
  --accent: #f7dd7d;
  --dark-shades: #111fa2;
  --accent-shades: #ffe8be;
  --dark-shades: #666666;
  --transparent-primary: #5479ff68;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Instrument Sans', sans-serif;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

header div span {
  color: var(--primary);
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

header nav a {
  text-decoration: none;
  color: var(--dark-shades);
  font-weight: 500;
  font-size: 24px;
}

header nav a.btn-daftar {
  color: white;
  background-color: var(--primary);
  padding: 5px 25px;
  border-radius: 25px;
}
